.container {
  background: #d9d9d9;
  border-radius: 15px;
  overflow: hidden;
}

.buttonSearch {
  padding: 7px 20px;
  font-size: 13px;
  background: none;
  border: none;
  color: #1b1919;
  cursor: pointer;
  transition: all 0.2s;
}

.buttonSearch:hover {
  background: #4923e0;
  color: #efe0e0;
}

.buttonSearch.active {
  background: #4923e0;
  color: #efe0e0;
}
