.caseContainer {
  display: flex;
  padding: 10px;
  padding-left: 14px;
  background: rgb(234, 230, 230);
  border-radius: 10px;
  margin-bottom: 5px;
  transition: all 0.2s;
  justify-content: space-between;
}

.caseContainer:hover {
  background: #e1daff;
}

.titleContainer {
  display: flex;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.label {
  align-self: center;
  min-width: 5px;
  min-height: 5px;
  border-radius: 100%;
  background: #5838d9;
  margin-right: 7px;
}

.title {
  font-size: 16px;
}

.input {
  background: none;
  border: none;
  color: rgba(19, 19, 19, 0.87);
  font-size: 16px;
}

.input:focus {
  outline: none;
}

.actionButton {
  border: 2px solid #5838d9;
  background: transparent;
  color: #5838d9;
  font-size: 12px;
  padding: 3px 10px;
  margin-right: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.actionButton:hover {
  color: white;
  background: #5838d9;
}
